body{
    font-size  :13px;
    font-family: 'Source Sans Pro', sans-serif;
    background:#DFE4EB;
}

.navbar-default {
    background-color: #2c3e50;
    border-color: #333;
    border:0px !important;
}

.navbar .container-fluid {
    margin:0px;
    padding:0px;
}

.navbar .controlbar {
    width: 25%;
    list-style: none;
    margin: 0px;
    padding: 5px 6px;
    background: #8e44ad;
    border-bottom: 1px solid #8e44ad;
    margin-right: 15px;
    color:white;
    position: absolute;
    left: -25%;
}

.navbar a {
    color:white!important;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 19px;
}
.navbar-nav>li>a:hover{
    color:white;
}

.navbar .controlbar  .progressbar {
    background :white;
    width:100%;
    height:7px;
    margin-top:5px;
}

.navbar .controlbar .progressbar .status {
    background :#ccc;
    width:0%;
    height:7px;
}

.navbar .controlbar .currentTime ,
.navbar .controlbar .fullTime ,
.navbar .controlbar .current {
    font-size:12px;
    height:18px;
}

.navbar .controlbar .current {
    width: 64%;
    overflow: hidden;
}

.navbar .user img {
    margin-right:10px;
    margin-top: -5px;
}

#player {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:30%;
}

#userPlaylists {
    position:absolute;
    top:51px;
    bottom:0;
    left:0%;
    width:100%;
    height:50%;
    padding:15px;
}

#userPlaylists .playlist {
    cursor:pointer;
    background:white;
    padding:10px;
}

#playlist {
    position:absolute;
    top:0px;
    bottom:0;
    left:-25%;
    width:25%;
    height:100%;
    background:#ecf0f1;
    overflow:hidden;
}
#playlist>ul {
    list-style:none;
    padding:0px;
    margin:61px 0px 0px 0px;
    overflow:hidden;
    overflow-y:auto;
    height:59%;
}

#playlist .select{
    display:block;
    padding: 10px 15px;
}

#playlist>ul>li {
    border-bottom: 1px solid #ecf0f1;
    background: white;
    color:#707070;
    width:100%;
    white-space: nowrap;
    cursor:pointer;
    position:relative;
    font-size:12px;
}
#playlist .track>a {
    display:block;
    padding: 10px 15px;
    color:#333;
    text-decoration:none;
}
#playlist .track>a:hover {
    color:#333;
}
#playlist .track button {
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
}

#playlist .btn-sm {
    font-size:9px;
}
#playlist>ul>li.active {
    background:#ecf0f1;
    color:#8e44ad;
}

#playlist .dropdown-menu {
    top: 20px;
    left: 15px;
}

#playlist .controls {
    font-size:12px;
}

#playlist .controls li{
    cursor:pointer;
}

